body {
  font-family: "Orbitron", sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom left,
    cyan,
    blue,
    green,
    yellow,
    green,
    blue,
    cyan
  );
  text-align: center;
  text-shadow: 1px 1px 2px rgb(7, 255, 255), -1px 1px 2px cyan,
    0px -1px 2px cyan;
}

.popup {
  background-color: black;
  border: 10px ridge grey;
  width: 200px;
  position: absolute;
  align-self: center;
}

.thebutton {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 15%;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  font-weight: bold;
  background-image: linear-gradient(
    cyan,
    blue,
    green,
    yellow,
    green,
    blue,
    cyan
  );
  text-shadow: 3px 3px 6px rgb(7, 255, 255), -3px 3px 6px cyan,
    0px -3px 6px cyan;
}

.thebutton:active {
  cursor: pointer;
  transition: all 1s ease;
  transform: rotateX(180deg);
}

.gameboard {
  display: flex;
  flex-direction: column;
}
.reset {
  max-width: 150px;
  height: 50px;
  background-color: cyan;
  font-family: "Orbitron", sans-serif;
  font-size: 17px;
  font-weight: bold;
  background-image: linear-gradient(blue, cyan, white);
  line-height: 5px;
  border: 2px ridge yellow;
  text-align: center;
  align-self: center;
  text-shadow: 1px 1px 2px rgb(7, 255, 255), -1px 1px 2px cyan,
    0px -1px 2px cyan;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 3px 5px blue, -3px 5px cyan, 3px -5px cyan, -3px -5px blue;
}
.reset:active {
  transform: translateY(4px);
}
.reset:focus {
  box-shadow: 8px 8px rgb(0, 0, 255);
}
.reset:hover {
  box-shadow: 3px 5px rgb(0, 0, 255, 0.5), -3px 5px rgb(0, 255, 255, 0.5),
    3px -5px rgb(0, 255, 255, 0.5), -3px -5px rgb(0, 0, 255, 0.5);
}
